<?xml version="1.0"?>
<robot name="yeah_hand" xmlns:xacro="http://ros.org">

<ros2_control name="yeah_hand_system" type="system">
  <hardware>
    <plugin>yeah_hand_hardware/YeahHandSystem</plugin>
<!--    <param name="some_param">value</param>-->
    <!-- add your hardware params here -->
  </hardware>

  <joint name="index_servo_joint">
    <command_interface name="position"/>
    <state_interface name="position"/>
    <state_interface name="temperature"/>
    <state_interface name="amperage"/>
    <state_interface name="voltage"/>
    <state_interface name="load"/>
  </joint>

  <joint name="middle_servo_joint">
    <command_interface name="position"/>
    <state_interface name="position"/>
    <state_interface name="temperature"/>
    <state_interface name="amperage"/>
    <state_interface name="voltage"/>
    <state_interface name="load"/>
  </joint>

  <joint name="ring_little_servo_joint">
    <command_interface name="position"/>
    <state_interface name="position"/>
    <state_interface name="temperature"/>
    <state_interface name="amperage"/>
    <state_interface name="voltage"/>
    <state_interface name="load"/>
  </joint>

  <joint name="thumb_servo_joint">
    <command_interface name="position"/>
    <state_interface name="position"/>
    <state_interface name="temperature"/>
    <state_interface name="amperage"/>
    <state_interface name="voltage"/>
    <state_interface name="load"/>
  </joint>

  <joint name="thumb_rotation_servo_joint">
    <command_interface name="position"/>
    <state_interface name="position"/>
    <state_interface name="temperature"/>
    <state_interface name="amperage"/>
    <state_interface name="voltage"/>
    <state_interface name="load"/>
  </joint>
</ros2_control>

<xacro:include filename="$(find yeah_hand_description)/urdf/fixed_component.xacro" />
<xacro:include filename="$(find yeah_hand_description)/urdf/finger.xacro" />
<xacro:include filename="$(find yeah_hand_description)/urdf/thumb.xacro" />
<xacro:include filename="$(find yeah_hand_description)/urdf/flexion_servomotor.xacro" />
<xacro:include filename="$(find yeah_hand_description)/urdf/rotation_servomotor.xacro" />

  <material name="gray">
    <color rgba="0.7 0.7 0.7 1.0"/>
  </material>

  <material name="blue">
    <color rgba="0.2 0.4 0.8 1.0"/>
  </material>

  <link name="base_link"/>

  <xacro:fixed_component component_name="skeleton" mesh_filename="Skeleton" parent = "base_link" x="0" y="0" z="0" roll="0" pitch="0" yaw="0"/>

  <!--  Thumb  -->
  <xacro:fixed_component component_name="trs_platform" mesh_filename="TRS Platform" parent = "skeleton" x="0" y="0" z="0" roll="0" pitch="0" yaw="0"/>
  <xacro:rotation_servomotor servo_name="thumb_rotation_servo" mesh_filename="WS-ST3215-Servomotor" parent = "skeleton" x="0.01875" y="0.002" z="0.1245" roll="0" pitch="0" yaw="0"/>
  <xacro:thumb parent = "thumb_rotation_servo_flange" x="0" y="0" z="-0.001" mimic_joint="thumb_servo_joint" mcp_k="-0.227" ip_k="-0.0689"/>

  <!--  Other fingers  -->
  <xacro:finger prefix="index" x_offset="0.0" z_offset="0.0" mimic_joint="index_servo_joint" mcp_k="-0.22" pip_k="-0.305" dip_k="-0.12"/>
  <xacro:finger prefix="middle" x_offset="-0.02" z_offset="0.0" mimic_joint="middle_servo_joint" mcp_k="-0.22" pip_k="-0.305" dip_k="-0.12"/>
  <xacro:finger prefix="ring" x_offset="-0.041" z_offset="-0.004" mimic_joint="ring_little_servo_joint" mcp_k="-0.22" pip_k="-0.305" dip_k="-0.12"/>
  <xacro:finger prefix="little" x_offset="-0.0635" z_offset="-0.014" mimic_joint="ring_little_servo_joint" mcp_k="-0.22" pip_k="-0.305" dip_k="-0.12"/>

  <!--  Logic Board  -->
  <xacro:fixed_component component_name="logic_board" mesh_filename="WS-ESP32-Servo-Driver-Board" parent = "skeleton" x="0" y="0" z="0" roll="0" pitch="0" yaw="0" />

  <!--  Servos  -->
  <xacro:flexion_servomotor servo_name="index_servo" mesh_filename="WS-ST3215-Servomotor" parent = "skeleton" x="0.0137" y="-0.016" z="0.0673" roll="-1.57" pitch="0" yaw="0" />
  <xacro:flexion_servomotor servo_name="ring_little_servo" mesh_filename="WS-ST3215-Servomotor" parent = "skeleton" x="-0.0137" y="-0.016" z="0.0425" roll="-1.57" pitch="3.14" yaw="0" />
  <xacro:flexion_servomotor servo_name="middle_servo" mesh_filename="WS-ST3215-Servomotor" parent = "skeleton" x="0.0137" y="-0.016" z="0.017" roll="-1.57" pitch="0" yaw="0" />
  <xacro:flexion_servomotor servo_name="thumb_servo" mesh_filename="WS-ST3215-Servomotor" parent = "skeleton" x="-0.01107" y="0.02" z="0.09025" roll="-1.57" pitch="1.57" yaw="3.14" />

  <!--  Covers  -->
  <xacro:fixed_component component_name="upper_cover" mesh_filename="Upper Cover" parent = "skeleton" x="0" y="0" z="0" roll="0" pitch="0" yaw="0"/>
  <xacro:fixed_component component_name="lower_cover_front" mesh_filename="Lower Cover Front" parent = "skeleton" x="0" y="0" z="0" roll="0" pitch="0" yaw="0"/>
  <xacro:fixed_component component_name="lower_cover_back" mesh_filename="Lower Cover Back" parent = "skeleton" x="0" y="0" z="0" roll="0" pitch="0" yaw="0"/>

  <!--  Palm  -->
  <xacro:fixed_component component_name="palm" mesh_filename="Palm" parent = "skeleton" x="0" y="0" z="0"  roll="0" pitch="0" yaw="0"/>

</robot>
